.catalogue-container {
  height: auto;
  width: 100%;
}
.titles-container {
  width: 100%;
  /* margin-left: 2.5%; */
  margin-bottom: 3rem;
}
.titles-container h1 {
  color: #666666;
  font-weight: 500;
  /* padding-left: 0.938rem; */
}
.subtitle-container {
  width: 70%;
  height: 3.125rem;
  display: grid;
  grid-template-columns: 20%80%;
  color: #3399cc;
}
.subtitle-container p {
  color: #3399cc;
  height: 100%;
  font-size: 26px;
  justify-self: start;
  /* padding-left: 1.625rem; */
  margin: 0;
}
.demo {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  width:80%
}
.demo li {
  font-size: 1.375rem;
}
.demo li:hover {
  text-decoration: underline;
  /* border-bottom: 1px solid #1f698f; */
  padding-bottom: 3px;
  color:#1f698f;
}
/*!==================  */
.different-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.individual-container {
  background-color: #f4f4f4;
  width: 100%;
}
.image-container {
  overflow: hidden;
  height: 15.75rem;
  width: 100%;
}
.individual-container img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: red;
}
.individual-container img:hover {
  transition: transform 0.5s ease;
  opacity: 1;
  transform: scale(1.3) rotate(10deg);
  position: relative;
}
.individual-container h1 {
  color: #3399cc;
  width: 90%;
  margin-left: 5%;
  font-weight: 500;
}
.individual-container p {
  width: 90%;
  margin-left: 5%;
}
/*?000000000000000000  */
.page-buttons-container {
    height: 12.5rem;
    width: 20.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-buttons-container button {
    height: 4.375rem;
    width: 4.375rem;
    font-size: 1.563rem;
    color: #666666;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding:10px;
  }
  .page-buttons-container button:hover {
    background-color: #ccc;
  }
  .page-buttons-container button:focus {
    background-color: #ccc;
  }
@media screen and (max-width: 1000px) {
  .different-selection {
    grid-template-columns: repeat(2, 1fr);
  }
  .subtitle-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .individual-container h1 {
    font-size: 26px;
  }
  .individual-container p {
    font-size: 16px;
  }
  /*?000000000000000000  */

  .page-buttons-container {
    height: 10rem;
  }
  .page-buttons-container span button {
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .titles-container {
    height: 4.375rem;
  }
  .titles-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .titles-section p {
    display:none;
    font-size: 1.3rem;
  }
  .demo {
    justify-content: space-evenly;
    width: 100%;
  }
  .demo li {
    font-size: 1rem;
  }
  .different-selection {
    grid-template-columns: repeat(1, 1fr);
  }
  .subtitle-container {
    width: 100%;
  }
  /*?000000000000000000  */
  .page-buttons-container {
    height: 5.4rem;
    width: 64%;
  }
  .page-buttons-container span{
    text-align: center;
  }
  .page-buttons-container span button {
    height: 3.125rem;
    width: 3.125rem;
    display: inline-block;
  }
}
