.catalogue-container {
  height: auto;
  width: 100%;
}
.titles-container {
  width: 100%;
  /* margin-left: 2.5%; */
  margin-bottom: 3rem;
}
.titles-container h1 {
  color: #666666;
  font-weight: 500;
  /* padding-left: 0.938rem; */
}
.subtitles-container {
  width: 70%;
  height: 3.125rem;
  display: grid;
  grid-template-columns: 20%80%;
  color: #3399cc;
}
.subtitles-container p {
  color: #3399cc;
  height: 100%;
  font-size: 26px;
  justify-self: start;
  /* padding-left: 1.625rem; */
  margin: 0;
}
.demo {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  width:80%
}
.demo li {
  font-size: 1.375rem;
}
.demo li:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color:#1f698f;
}


/*?000000000000*/
.page-buttons-container {
    height: 12.5rem;
    width: 20.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page-buttons-container button {
    height: 4.375rem;
    width: 4.375rem;
    font-size: 1.563rem;
    color: #666666;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding:10px;
  }
  .page-buttons-container button:hover {
    background-color: #ccc;
  }
  .page-buttons-container button:focus {
    background-color: #ccc;
  }
/*!===========*/
@media screen and (max-width: 1000px) {
  .subtitles-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /*?000000000000*/
  .page-buttons-container {
    height: 10rem;
  }
  .page-buttons-container span button {
    height: 3.5rem;
    width: 3.5rem;
  }
}
/*!===========*/
@media screen and (max-width: 600px) {
  .titles-container {
    height: 4.375rem;
  }
  .titles-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .titles-container p {
    display:none;
    font-size: 1.3rem;
  }
  .subtitles-container{
    width: 100%;
  }
  .demo {
    justify-content: space-evenly;
    width: 100%;
  }
  .demo li {
    font-size: 1rem;
  }

  /*?000000000000*/
  .page-buttons-container {
    height: 5.4rem;
    width: 64%;
  }
  .page-buttons-container span{
    text-align: center;
  }
  .page-buttons-container span button {
    height: 3.125rem;
    width: 3.125rem;
    display: inline-block;
  }
}
