
  .different-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
  .individual-container {
    background-color: #f4f4f4;
    width: 100%;
  }
  .image-container {
    overflow: hidden;
    height: 15.75rem;
    width: 100%;
  }
  .individual-container img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: red;
  }
  .individual-container img:hover {
    transition: transform 0.5s ease;
    opacity: 1;
    transform: scale(1.3) rotate(10deg);
    position: relative;
  }
  .individual-container h1 {
    color: #3399cc;
    width: 90%;
    margin-left: 5%;
    font-weight: 500;
  }
  .individual-container p {
    width: 90%;
    margin-left: 5%;
  }

  /*!===========*/
  @media screen and (max-width: 1000px) {
    .different-selection {
      grid-template-columns: repeat(2, 1fr);
    }
    .individual-container h1 {
      font-size: 26px;
    }
    .individual-container p {
      font-size: 16px;
    }
  }
  /*!===========*/
  @media screen and (max-width: 600px) {
    .different-selection {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  