
.App {
  background-color: white;
  margin: 0% 2.5%;
  height: 100%;
  width: 95%;
  max-width: 1440px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  color: #666666;
  line-height: 1.7;
  font-size: 18px;
  font-weight: bold;
  /* text-transform:capitalize;  to make first letter capital */
}
h1 {
  color: #3399cc;
}
button {
  text-align: center;
}
.frontpage-container {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background-image {
  background-image: url("./images/IMG_8598.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  box-sizing: border-box;
  height: 95%;
  width: 100%;
}
.header {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header h1 {
  color: white;
  font-size: 2.813rem;
  font-weight: 300;
  margin-left: 2.813rem;
  padding: 1.25rem;
  background-color: rgb(140 135 135 / 30%);
  border-radius: 5px;
}
.navbar {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}
.navbar button {
  color: white;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 35px;
  font-family: 'Roboto';
  
}
.navbar button:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}
.navbar button:focus {
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}
/*!==================  */
.intro {
  margin-top: 200px;
  display: flex;
  height: auto;
  justify-content: center;
}
.c--anim-btn span {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.c--anim-btn,
.c-anim-btn {
  transition: 0.3s;
}
.c--anim-btn {
  height: 54px;
  font: normal normal 700 1em/4em Arial, sans-serif;
  overflow: hidden;
  width: 300px;
  background-color: rgb(140 135 135 / 40%);
  border-radius: 5px;
  padding: 20px 0px;
}
.c-anim-btn {
  margin-top: 0em;
}
.c--anim-btn:hover .c-anim-btn {
  margin-top: -2em;
}


/* text-transform: uppercase!important; */


/*!0000000000000000  */
@media screen and (max-width: 1000px) {
  .frontpage-container {
    height: 80vh;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1rem;
  }
  .c--anim-btn span {
    font-size: 25px;
  }
  .c--anim-btn span svg {
    margin-top: 0rem;
  }
  .c--anim-btn:hover .c-anim-btn {
    margin-top: -3.5rem;
  }
  .c--anim-btn {
    height: 60px;
    width: 230px;
    padding: 0px 0px;
  }
  .intro {
    margin-top: 100px;
  }
  .header h1 {
    font-size: 2rem;
    margin-left: 1.5rem;
  }
  .navbar button {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding-top:0px;
  }
  .navbar button {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 545px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
