body {
  background-color: white;
  margin: 0% 2.5%;
  height: 100%;
  width: 95%;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
p {
  color: #666666;
  line-height: 1.7;
  font-size: 18px;
  font-weight: bold;
  /* text-transform:capitalize;  to make first letter capital */
}
h1 {
  color: #3399cc;
}
button {
  text-align: center;
}
